<!-- goes in body -->
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
    {% if current_user.is_authenticated %}
        {% if current_user.in_cgem %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Welcome, {{ current_user.display_name }}. The strains dashboard will load below.</div>
                <div class="panel-body">
                <ul>
                    <li>Click on any bar below to filter the data table. Shift-click to select multiple attributes.
                        Click in whitespace to undo the selection.</li>
                    <li>Table columns are sortable. Click column headers to re-order.</li>
                    <li><strong><span class="text-danger">New!</span> Click on a strain to request delivery.</strong></li>
                </ul>
                </div>
            </div>
        {% else %}
            <p>Unfortunately your ID hasn't been recognized. Maybe you
                have a different account associated with C-GEM?
                Try logging out and back in again.</p>
        {% endif %}
    {% else %}
        <div style="display:flex; flex-direction:column; align-items:center;
            min-height: 300px; justify-content:space-around">
        <h1>Welcome to the C-GEM strains dashboard</h1>
        <p style="text-align: center;">To gain access, please log in.<br/>
        If you're not affiliated with C-GEM, please come back soon.
            Our public database will launch shortly.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('oauth_authorize', provider='google') }}">Log in with Google</a></p>
        </div>
    {% endif %}

    {% if current_user.is_authenticated and current_user.in_cgem %}
        {{ wtf.quick_form(form, id="ship-form", extra_classes='hidden') }}
        {{ script|safe }}
    {% endif %}


{% endblock %}
