<!-- goes in title -->
{% block title %}<h1>C-GEM strains list</h1>{% endblock %}

<!-- goes in head -->
{% block preamble %}
<link href="app/static/css/custom.min.css" rel="stylesheet">
{% endblock %}

<!-- goes in body -->
{% block contents %}

    {% for message in get_flashed_messages() %}
        <p><b>Error</b>: {{ message }}</p>
    {% endfor %}
    {% if current_user.is_authenticated %}
        {% if current_user.in_cgem %}
            <p>Welcome, {{ current_user.display_name }}. You should see the strains list below.</p>
        {% else %}
            <p>Unfortunately your ID hasn't been recognized. Maybe you
                have a different account associated with C-GEM?
                Try logging out and back in again.</p>
        {% endif %}
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <p>To gain access, please log in below. </p>

        <p><a href="{{ url_for('oauth_authorize', provider='google') }}">Log in with Google</a></p>

        <p>If you're not affiliated with C-GEM, please come back soon.
            Our public database will launch shortly.</p>
    {% endif %}

{% if current_user.is_authenticated and current_user.in_cgem %}
    {{ script|safe }}
{% endif %}


{% endblock %}
