{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}

    <h1>Strain request for {{ meta['Strain ID'] }}</h1>

    <p>Details of the request and strain are listed below.</p>

    <div class="row">

    <div class="col-xs-6">
        <h2>Request</h2>
    <table class="table table-condensed table-striped">

        <tbody>
            {% for col in meta %}
            <tr>
                {% set val = meta[col] %}
                <th>{{ col }}</th>
                <td>{{ val }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if rq.status == 'unassigned' %}
        {{ wtf.quick_form(volunteer_form, extra_classes="form-inline") }}
    {% else %}
        {{ wtf.quick_form(status_form, extra_classes="form-inline") }}
    {% endif %}



    </div>

    <div class="col-xs-6">
    <h2>Strain</h2>
    <table class="table table-condensed table-striped col-xs-6">
        <tbody>
            {% for col in strain_dict %}
            <tr>
                {% set val = strain_dict[col] %}
                <th>{{ col }}</th>
                {% if col == 'benchling_url' %}
                    <td><a href="{{ val }}" target="_blank">{{ val }}</a></td>
                {% else %}
                    <td>{{ val }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    </div>


{% endblock %}