{% extends "base.html" %}

{% block app_content %}

    <h1>Strain requests – complete list</h1>

    <p>The table below shows all requests logged in the system.</p>

    <table class="table table-condensed table-striped">

        <thead><tr>
        {% for col_name in df.columns %}
            <th>{{ col_name }}</th>
        {% endfor %}
        <th></th>
        </tr></thead>
        <tbody>
        {% for ind, row in df.iterrows() %}
            <tr>
            {% for val in row %}
                <td>{{ val }}</td>
            {% endfor %}
                <td><button class="btn btn-default" type="button">Edit/Discuss</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}