{% extends "base.html" %}

{% block app_content %}

    {% if categ == 'complete' %}
        <h1>Strain requests – complete list</h1>
        <p>The table below shows all requests logged in the system.</p>
    {% elif categ == 'my-requests' %}
        <h1>Strain requests created by you</h1>
        <p>The table below shows all requests you have created.</p>
    {% else %}
        <h1>Strain shipments that you have volunteered to process</h1>
        <p>The table below shows all requests for which you are responsible.</p>
    {% endif %}

    <table class="table table-condensed table-striped">

        <thead><tr>
        {% for col_name in df.columns %}
            <th>{{ col_name }}</th>
        {% endfor %}
        <th></th>
        </tr></thead>
        <tbody>
        {% for ind, row in df.iterrows() %}
            <tr>
            {% for val in row %}
                <td>{{ val }}</td>
            {% endfor %}
                <td><a class="btn btn-default"
                       href="{{ url_for('show_request', request_id=row['id']) }}">
                    Edit/Discuss</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}