{% extends base %}

{% block contents %}

    <div class="container body">
        <form name="ship_form" id="ship-form" method='POST'>
            {% for field_name in col_names %}
                <label>{{ field_name | indent(4) | safe}}:</label>
                <input type="text" id="ship-{{ field_name }}" name="{{ field_name }}" value="fill_me">
                <br/>
            {% endfor %}
            <br>
            <button type="submit">Submit</button>
        </form>

    {{ super() }}


    </div>
{% endblock %}
